<div id="header">
  <div id="clock">
    <div id="timer" {{bind-attr style="view.progress"}}>
      <span>
        {{view.progressText}}
      </span>
    </div>
  </div>
  <div id="shadow"></div>
</div>

<div class="centered">

  {{#if isCompletable}}
    <div id="did-you-complete">
      <p>
        <span>Today's time is up, did you {{view.completableText}}?</span>
        <a {{action completeTask}} class="pq pq-button-inline pq-color-z">YES</a>
        <a {{action rejectTask}} class="pq pq-button-inline pq-color-y">NO</a>
      </p>
    </div>
  {{/if}}
  {{createdAt}} - {{hadSucceed}}

  <div id="task">
    <span class="quote">&ldquo;</span>

    {{#unless isCompleted}}
      {{view Ember.TextArea valueBinding="text" placeholderBinding="view.placeholder" tabindex="1" disabledBinding="isConfirmed" spellcheck="false"}}
    {{else}}
      {{view Ember.TextArea valueBinding="view.completedText" disabled="true" spellcheck="false" class="ending_text"}}
    {{/unless}}

    <div class="me">me</div>

    <div class="buttons">
      {{#if isAgreedable}}
        <a {{action confirmTask}} class="pq pq-button-inline button">OK</a>
      {{/if}}

      {{#if isCompleted}}
        <a {{action startAgain}} class="pq pq-button-inline button">RETURN HOME</a>
      {{/if}}
    </div>

  </div>

</div>