<div id="header">
	<div id="clock">
		<div id="timer" {{bindAttr style="view.progress"}}><span>{{clock}}</span></div>
	</div>
	<div id="shadow"></div>
</div>

<div class="centered">

	{{#if completable}}
		<div id="did-you-complete">
			<p>
				<span>Today's time is up, did you {{msgCompletable}}?</span>
				<a {{action completeTask}} class="button yes color-z">YES</a>
				<a {{action rejectTask}} class="button no color-y">NO</a>
			</p>
		</div>
	{{/if}}


	<div id="task">
		<span class="quote"></span>

		{{#unless completed}}
			{{view Ember.TextArea valueBinding="text" placeholderBinding="placeholder" tabindex="1" disabledBinding="isConfirmed" spellcheck="false"}}
		{{else}}
			{{view Ember.TextArea valueBinding="msgCompleted" disabled="true" spellcheck="false" class="ending_text"}}
		{{/unless}}

		<div class="me">me</div>

		<div class="buttons">
			{{#if agreedable}}
				<a {{action confirmTask}} class="agree_button button"></a>
			{{/if}}

			{{#if completed}}
				<a {{action startAgain}} class="welldone_button button"></a>
			{{/if}}
		</div>

	</div>

</div>