<div class='rows-2'>
  <div class='row left'>
    <div class='sub-row'>
      <a {{action selectPrevMonth}}><</a>
      <div>
        {{humanPrevMonth}} {{prevYear}}
        {{view.testView}}
      </div>
      <div class='content'>
        {{view FF.TaskHistoryMonthView tasksBinding="previousMonthTasks"}}
      </div>
    </div>
    <div class='sub-row'>
      <a {{action selectNextMonth}}>></a>
      <div>
        {{humanCurrentMonth}} {{currentYear}}
      </div>
      <div class='content'>
        {{view FF.TaskHistoryMonthView tasksBinding="currentMonthTasks"}}
      </div>
    </div>
    <div class='clearfix'></div>
  </div>

  {{#if selectedTask}}
    <div class='row right'>
      <div class='text'>{{selectedTask.text}}</div>
      <div class='me'> - me</div>
      <div class='completed-at taskHistoryDateFormat'>{{completedAt}}</div>
      <div class='completed'>{{completed}}</div>
      </br>
      Extra info - to remove
      <ul>
        <li>task_type: {{selectedTask.task_type}}</li>
        <li>completed: {{selectedTask.completed}}</li>
      </ul>
    </div>
  {{/if}}
</div>
