<div id="header">
	<div id="clock">
		<div id="timer"><span>{{clock}}</span></div>
	</div>
	<div id="shadow"></div>
</div>

<div id="task">
	<span class="quote"></span>

	{{view Ember.TextArea valueBinding="text" placeholderBinding="placeholder" tabindex="1" disabledBinding="completed" spellcheck="false"}}

	<div class="me">- me</div>

	<div class="buttons">
		{{#if agreedable}}
			<a {{action confirmTask}} class="agree_button button"></a>
		{{/if}}

		{{#if completed}}
			<a {{action startAgain}} class="welldone_button button"></a>
		{{/if}}
	</div>
</div>

{{#if completable}}
	<div id="compleated">
		<p>
			You had 24 hrs.<br/>
			Did you do it?
		</p>
		<a {{action completeTask}} class="yes"></a>
		<a {{action rejectTask}} class="no"></a>
	</div>
{{/if}}

{{view FF.FooterView class="with_logo" id="footer"}}