<div id="header">
	<div id="clock">
		<div id="timer">{{clock}}</div>
	</div>
	<div id="shadow"></div>
</div>

<div id="task">
	<span class="quote">&quot;</span>

	{{view Ember.TextArea valueBinding="text" placeholderBinding="placeholder" tabindex="1" disabledBinding="completed" spellcheck="false"}}

	<div class="me">-me</div>
</div>

{{#if agreedable}}
	<a {{action confirmTask}} class="agree_button"></a>
{{/if}}

{{#if completable}}
	<div id="compleated">
		<p>
			You had 24 hrs.<br/>
			Did you do it?
		</p>
		<a {{action completeTask}} class="yes"></a>
		<a {{action rejectTask}} class="no"></a>
	</div>
{{/if}}

{{#if completed}}
	<a {{action startAgain}} class="welldone_button"></a>
{{/if}}

{{view FF.FooterView}}