<div id="clock">
	Clock: {{created_at}}
	<div id="shadow"></div>
</div>

<div id="task">
	<span class="quote">&quot;</span>

	{{view Ember.TextArea valueBinding="text" placeholder="Enter a single thing you must do within 24 hours." tabindex="1" disabledBinding="completable" spellcheck="false"}}

	<div class="me">-me</div>
</div>

{{#if agreedable}}
	<a {{action confirmTask}} class="agree_button"></a>
{{/if}}


{{#if completable}}
	<div id="compleated">
		<p>
			You had 24 hrs.
			Did you do it?
		</p>
		<a {{action completeTask}} class="yes"></a>
		<a {{action rejectTask}} class="no"></a>
	</div>
{{/if}}

<div id="footer">
	<div>
		<strong>FLOWFORMER&trade;</strong>
		<i>What one thing do you want help with today?</i>
	</div>
</div>
