<a {{action createDoTask}} id="top" class="container">
	<div class="vertical">
		<img src="/assets/action_button.png"/>
		<span>MUST DO</span>
	</div>
</a>

{{view FF.FooterView id="footer"}}
<a {{action gotoTaskHistory}} class="historyicon"></a>
{{view FF.InfoIconView}}

<a {{action createDontTask}} id="bottom" class="container">
	<div class="vertical">
		<img src="/assets/action_button.png"/>
		<span>DONT DO</span>
	</div>
</a>
