<!DOCTYPE html>
<html>
	<head>
	  <title>Flowformer.com - A free focus tool to help you get one thing done or not done each day.</title>
	  <meta name="description" content="Flowformer - What one thing do you need some help with today? A free focus tool to help you get one thing done or not done each day." />
  	  <meta name="keywords" content="productivity, gtd, getting things done, getting shit done, time management, time, to do, to do list, free, web app, get stuff done, focus tools, tool, free productivity software, online productivity tools" />
	  <%= stylesheet_link_tag    "application", :media => "all" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
	  <link href='http://fonts.googleapis.com/css?family=Open+Sans:600italic,800' rel='stylesheet' 
		type='text/css'>
	  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	  <%= favicon_link_tag %>	
	</head>
	<body>

		<%= yield %>

	</body>
</html>
